{% extends 'base.html' %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
  <script>
  function edit(id)
  {
    var url ='/individual?eid='+id;
    window.location.href = url
  }
  </script>
  </script>
  <center><h3>Patient Records</h3></center>
  <a href="/logout"><button type="button" class="btn btn-default" style="float:right;">Logout</button></a>
					<table class="table table-bordered table-hover table-striped tablesorter" id="guest_list">
                          <thead>
                            <tr>
                              <th>First Name <i class="fa fa-sort"></i></th>
                              <th>Last Name <i class="fa fa-sort"></i></th>
                              <th>Email Id<i class="fa fa-sort"></i></th>
                              <th>Created Time<i class="fa fa-sort"></i></th>
                              <th>City<i class="fa fa-sort"></i></th>
                              <th>Mobile<i class="fa fa-sort"></i></th>
                              <th>Appointment Date<i class="fa fa-sort"></i></th>
                              <th>Doctor Name<i class="fa fa-sort"></i></th>                    
                            </tr>
                          </thead>
                          <tbody>
                          {%for user in lists %}
                            <tr>
                              <td align="center">{{ user.firstname}}</td>                  
                              <td align="center">{{ user.lastname}}</td>
                              <td align="center">{{ user.email}}</td>
                              <td align="center">{{ user.createdat}}</td> 
                              <td align="center">{{ user.city}}</td>
                              <td align="center">{{ user.mobile}}</td>
                              <td align="center">{{ user.date}}</td>
                              <td align="center">{{ user.doctor}}</td>             
                              <td><button type="button"  class="btn btn-primary center" onclick="edit({{user.id}})">Edit</button><br/>
                              </td>             
                              </tr>
                              {%endfor%}                     
                          </tbody>
                        </table>
{% endblock %}